<!DOCTYPE html>
<html>
<head>
  <title>Trello Clone</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if signed_in? %>
    <%= button_to "Sign out", session_url, method: :delete %>
  <% else %>
    <%= link_to "Log in", new_session_url %>
    <%= link_to "Sign up", new_user_url %>
  <% end %>

  <% if flash[:errors] %>
    <br>
    <%= flash[:errors].join("<br>") %>
  <% end %>

<%= yield %>

</body>
</html>
